services:

  db:
    image: postgres
    container_name: postgresql_jatetxea
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    
    volumes:
    - ./postgresql:/var/lib/postgresql
    - ./initdb:/docker-entrypoint-initdb.d #datubasea inizializatzeko eta datuak sartzeko

    environment:
        POSTGRES_USER: admin #datubasearen erabiltzailea
        POSTGRES_PASSWORD: admin #datubasearen pasahitza
        POSTGRES_DB: jatetxea #datubasearen izena

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080